html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f5f2f0;
  width: 960px;
  line-height: 1.5;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: .5em;
}

img {
  margin-top: 1.5rem;
  padding-bottom: .75em;
  width: 100%;
}

h1 {
  padding: .5em;
  margin: 0;
  font-family: "Denk One";
  color: #623b0c;
}

h2 {
  margin: 0;
  padding-top: 0;
  font-family: "Denk One";
  color: #623b0c;
}

ol {
  margin: 0;
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: Georgia;
  padding: .5em .75em .6em;
}

li {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  font-family: Georgia;
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1rem;
}

a {
  color: #f5f2f0;
  text-decoration: none;
  border: 2px solid #623b0c;
  border-radius: 8px;
  background-color: #623b0c;
  padding: .4em;
  margin-top: 1.5rem;
  width: 100%;
}

p {
  flex-grow: 1;
  margin: 0;
  padding-top: .6em;
  padding-bottom: 0;
}
